parameters:
    ignoreErrors:
        -
            message: '#Cannot call method format\(\) on mixed#'
            path: src/Controller/*
        -
            message: '#Cannot access property \$value on mixed#'
            path: src/Http/Middleware/ContentNegotiation/ContentTypeMiddleware.php